
.container-register {
	position: relative;
	width: 100%;
	max-width: 960px;
	min-height: 100%;
	margin: 0px auto;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.element-card {
	position: relative;
	width: 300px;
	height: 130px;
	transform-style: preserve-3d;
	transform: rotatey(0deg) translatex(0px) translatey(0px);
	transition: all 0.6s cubic-bezier(0.680, -0.550, 0.265, 1.550);
	box-shadow: 4px 4px 20px rgba(77, 71, 71, 0.4);
	margin: 40px;
	cursor: pointer;
}
	.element-card:hover {
		transform: scale(1.3) rotate(0deg);
	}

	.open {
		width: 200px;
		height: 260px;
		transform: rotatey(-180deg) translatex(0px) translatey(0px);
	}
	
	.front-facing {
		transform: rotateY( 0deg ) translateZ( 2px );
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: #ecf0f1;
		border: 2px white solid;
        border-radius: 5px;
    }
	.abr {
			width: 100%;
			position: absolute;
			top: 50%;
			left: 0;
			font-size: 42px;
			margin: -35px 0 0 0;
			text-align: center;
			color: #3498db;
		}
.Options-link{
    display: flex;
    justify-content: space-evenly;
    margin-top:93px;
}
.registration-options{
			display: inline-block;
			background-color: white;
			padding: 2px 5px;

			color: #eee;
			background-color: #7ebce6;
			text-decoration: none;
            border-radius: 3px;
        }
.registration-options a{
            text-decoration: none;

        }
:hover, :focus {
                color: #000000;
			}